Checks: '*,
        -altera-struct-pack-align,
        -fuchsia-overloaded-operator,
        -fuchsia-trailing-return,
        -llvmlibc-implementation-in-namespace,
        -llvmlibc-restrict-system-libc-headers,
        -portability-simd-intrinsics'

CheckOptions:
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: 1
