CheckOptions:
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: 1
Checks: '*,
        -altera-struct-pack-align,
        -altera-unroll-loops,
        -bugprone-easily-swappable-parameters,
        -cert-dcl03-c,
        -cert-err58-cpp,
        -clang-analyzer-deadcode.DeadStores,
        -cppcoreguidelines-avoid-c-arrays,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-avoid-non-const-global-variables,
        -cppcoreguidelines-init-variables,
        -cppcoreguidelines-macro-usage,
        -cppcoreguidelines-owning-memory,
        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -fuchsia-default-arguments-calls,
        -fuchsia-overloaded-operator,
        -fuchsia-statically-constructed-objects,
        -fuchsia-trailing-return,
        -hicpp-avoid-c-arrays,
        -hicpp-move-const-arg,
        -hicpp-no-array-decay,
        -llvmlibc-callee-namespace,
        -llvmlibc-implementation-in-namespace,
        -llvmlibc-restrict-system-libc-headers,
        -misc-const-correctness,
        -misc-include-cleaner,
        -modernize-avoid-c-arrays,
        -performance-no-automatic-move,
        -performance-unnecessary-copy-initialization,
        -portability-simd-intrinsics,
        -readability-identifier-length,
        -readability-magic-numbers'
FormatStyle: 'file'
WarningsAsErrors: '*'
