Checks: '*,
        -fuchsia-overloaded-operator,
        -misc-non-private-member-variables-in-classes,
        -llvmlibc-*,
        -modernize-use-trailing-return-type,
        -altera-struct-pack-align,
        -fuchsia-trailing-return'
