name: 'ClangTidy'

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
  - cron: '0 0 * * */5'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: 'Install: Latest CMake'
      uses: ssrobins/install-cmake@c54bb968401dd4ff9e6c9d697df5b843ee3b783b # v1.0.0
    - name: 'Configure'
      env:
        CXX: 'clang++-18'
        CC: 'clang-18'
      run: cmake -S . -B 'build' -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
    - name: Verify
      run: |
        FILES=`find . \
          -type f -path './build/benchmark/*.cpp' -o \
          -type f -path './sample/*.cpp' -o \
          -type f -path './source/*.cpp' -o \
          -type f -path './test/*.cpp'`
        run-clang-tidy -j 4 -p 'build' $FILES
