name: 'ClangTidy'

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
  - cron: '0 0 * * */5'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: 'Configure'
      env:
        CXX: 'clang++-18'
        CC: 'clang-18'
      run: cmake -S . -B 'build' -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
    - name: Verify
      run: |
        FILES=`find . \
          -type f -path './build/benchmark/*.cpp' -o \
          -type f -path './sample/*.cpp' -o \
          -type f -path './source/*.cpp' -o \
          -type f -path './test/*.cpp'`
        run-clang-tidy -j 4 -p 'build' $FILES
