name: "CMakeFormat"

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout
      uses: actions/checkout@v3.0.2
    - name: Install
      run: pip install cmakelang
    - name: Verify
      run: cmake-format --check CMakeLists.txt
