name: 'CppCheck'

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
  - cron: '0 0 * * */5'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Install
      run: |
        ( cd /tmp
          git clone --depth 1 'https://gitlab.com/libeigen/eigen'
          cmake -S 'eigen' -B 'eigen/build'
          cmake --build 'eigen/build' --parallel 4
          sudo cmake --install 'eigen/build' )
        ( cd /tmp
          git clone --depth 1 'https://github.com/danmar/cppcheck.git'
          cmake -S 'cppcheck' -B 'cppcheck/build'
          cmake --build 'cppcheck/build' --parallel 4
          sudo cmake --install 'cppcheck/build' )
    - name: Verify
      run: |
        cppcheck \
          --enable=all \
          --error-exitcode=1 \
          --suppress=missingIncludeSystem \
          --suppress=unhandledChar \
          --verbose \
          -I benchmark/include \
          -I include \
          -I support/eigen \
          -I support/eigen_typed \
          -I support/generator \
          -I support/lazy \
          -I support/mp_units \
          -I support/naive \
          -I support/naixed \
          -I support/quantity \
          .
