name: "Deploy Documentation: Doxygen GitHub Pages"

on:
  push:
    branches: [ develop ]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Doxygen
      uses: mattnotmitt/doxygen-action@v1.9.3
      with:
        working-directory: '.'
        doxyfile-path: 'documentation/Doxyfile'
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3.7.3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./documentation/html
