name: "Deploy Doxygen"

on:
  push:
    branches: [ master]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v3.1.0
    - name: Doxygen
      uses: mattnotmitt/doxygen-action@v1.9.4
      with:
        working-directory: 'documentation'
        doxyfile-path: 'Doxyfile'
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3.9.3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./documentation/html
