name: 'Deploy Coverage'

on:
  push:
    branches: [ master]
  schedule:
  - cron: '0 0 * * */5'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: 'Install'
      run: sudo apt update && sudo apt install lcov
    - name: 'Install: Latest CMake'
      uses: ssrobins/install-cmake@c54bb968401dd4ff9e6c9d697df5b843ee3b783b # v1.0.0
    - name: 'Configure'
      env:
        CXX: 'g++-14'
        CXXFLAGS: '-O0 -g --coverage -fno-inline'
        CC: 'gcc-14'
        CCFLAGS: '-O0 -g --coverage -fno-inline'
      run: cmake -S . -B 'build'
    - name: 'Build'
      run: cmake --build 'build' --verbose --parallel 4
    - name: 'Coverage: Base'
      run: |
        lcov --rc branch_coverage=1 --gcov-tool gcov-14 --ignore-errors mismatch --capture --initial --directory . --output-file base.info
        lcov --rc branch_coverage=1 --gcov-tool gcov-14 --ignore-errors mismatch --remove base.info '*/build/*' --output-file base.info
        lcov --rc branch_coverage=1 --gcov-tool gcov-14 --ignore-errors mismatch --remove base.info '*/sample/*' --output-file base.info
        lcov --rc branch_coverage=1 --gcov-tool gcov-14 --ignore-errors mismatch --remove base.info '*/test/*' --output-file base.info
        lcov --rc branch_coverage=1 --gcov-tool gcov-14 --ignore-errors mismatch --remove base.info '/usr/*' --output-file base.info
    - name: 'Test'
      run: ctest --test-dir 'build' --timeout 100 --tests-regex 'kalman' --verbose --parallel 4
    - name: 'Coverage: Test'
      run: |
        lcov --rc branch_coverage=1 --gcov-tool gcov-14 --ignore-errors mismatch --capture --directory . --output-file test.info
        lcov --rc branch_coverage=1 --gcov-tool gcov-14 --ignore-errors mismatch --remove test.info '*/build/*' --output-file test.info
        lcov --rc branch_coverage=1 --gcov-tool gcov-14 --ignore-errors mismatch --remove test.info '*/sample/*' --output-file test.info
        lcov --rc branch_coverage=1 --gcov-tool gcov-14 --ignore-errors mismatch --remove test.info '*/test/*' --output-file test.info
        lcov --rc branch_coverage=1 --gcov-tool gcov-14 --ignore-errors mismatch --remove test.info '/usr/*' --output-file test.info
    - name: 'Coverage: Results'
      id: coverage-results
      run: |
        lcov --rc branch_coverage=1 --gcov-tool gcov-14 --ignore-errors mismatch --rc branch_coverage=1 --add-tracefile base.info --add-tracefile test.info --output-file coverage.info
    - name: 'Coverage: Web Results'
      run: genhtml --branch-coverage --show-details --title "FrancoisCarouge/Kalman" --legend coverage.info -o coverage
    - name: Deploy
      uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./coverage
        destination_dir: ./coverage
