name: 'Format'

on:
  push:
    branches: [ 'master' ]
  pull_request:
    branches: [ 'master' ]
  schedule:
  - cron: '0 0 * * */5'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
      with:
        egress-policy: audit
    - name: 'Checkout'
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: 'Install'
      run: sudo apt update && sudo apt install cmake-format
    - name: 'Test'
      run: |
        find . \
          -iname '*.hpp' \
          -o -iname '*.tpp' \
          -o -iname '*.cpp' \
          -o -iwholename './support/generator/generator' \
          | xargs \
          clang-format-18 --Werror --dry-run --verbose -style=file
        find . \
          -iname 'CMakeLists.txt' \
          -o -iname '*.cmake.in' \
          | xargs \
          cmake-format --check
