name: "Format"

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  schedule:
  - cron: "0 0 * * */5"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: "Checkout"
      uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
    - name: "Install"
      run: |
        sudo apt update
        sudo apt upgrade
        pip install cmakelang
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh 16 all
    - name: "Test"
      run: |
        find . \
          -iname "*.hpp" \
          -o -iname "*.tpp" \
          -o -iname "*.cpp" \
          -o -iwholename "./support/format" \
          -o -iwholename "./support/generator" \
          -o -iwholename "./support/print" \
          | xargs \
          clang-format-16 --Werror --dry-run --verbose -style=file
        find . \
          -iname "CMakeLists.txt" \
          -o -iname "*.cmake.in" \
          | xargs \
          cmake-format --check
