name: 'Format'

on:
  push:
    branches: [ 'master' ]
  pull_request:
    branches: [ 'master' ]
  schedule:
  - cron: '0 0 * * */5'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        egress-policy: audit
    - name: 'Checkout'
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: 'Install'
      run: sudo apt update && sudo apt install cmake-format
    - name: 'Test'
      run: |
        find . \
          -iname '*.hpp' \
          -o -iname '*.tpp' \
          -o -iname '*.cpp' \
          -o -iwholename './support/generator/generator' \
          | xargs \
          clang-format-18 --Werror --dry-run --verbose -style=file
        find . \
          -iname 'CMakeLists.txt' \
          -o -iname '*.cmake.in' \
          | xargs \
          cmake-format --check
