name: 'Test Memory: Valgrind'

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
  - cron: '0 0 * * */5'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
      with:
        egress-policy: audit
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: 'Install'
      run: sudo apt update && sudo apt install valgrind
    - name: Build
      env:
        CXX: 'g++-14'
        CC: 'gcc-14'
        COMMAND: 'valgrind --error-exitcode=1 --leak-check=full --track-origins=yes'
      run: cmake -S . -B 'build'
    - name: 'Build'
      run: cmake --build 'build' --verbose --parallel 4
    - name: 'Test'
      run: ctest --test-dir 'build' --timeout 10 --tests-regex 'kalman' --verbose --parallel 4
