name: 'Pipeline'

on:
  push:
    branches: [ 'master' ]
  pull_request:
    branches: [ 'master' ]
  schedule:
  - cron: '0 0 * * */5'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
        - { os: 'ubuntu-24.04', cxx: 'clang++-21', cc: 'clang-21', generator: 'Unix Makefiles', packages: 'clang-21' }
        - { os: 'ubuntu-24.04', cxx: 'clang++-20', cc: 'clang-20', generator: 'Unix Makefiles', packages: 'clang-20' }
        - { os: 'ubuntu-24.04', cxx: 'clang++-19', cc: 'clang-19', generator: 'Unix Makefiles', packages: 'clang-19' }
        - { os: 'ubuntu-24.04', cxx: 'clang++-18', cc: 'clang-18', generator: 'Unix Makefiles', packages: 'clang-18' }
        - { os: 'ubuntu-24.04', cxx: 'g++-14', cc: 'gcc-14', generator: 'Unix Makefiles', packages: 'g++-14' }
        - { os: 'windows-2022', cxx: 'cl', cc: 'cl', generator: 'Ninja', config: 'Debug' }
        - { os: 'windows-2022', cxx: 'cl', cc: 'cl', generator: 'Ninja', config: 'Release' }
    name: '${{ matrix.os }} / ${{ matrix.cxx }} / ${{ matrix.generator }} / ${{ matrix.config }}'
    runs-on: '${{ matrix.os }}'
    permissions:
      contents: read
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit
    - name: 'Checkout'
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: 'Install: MSVC'
      uses: ilammy/msvc-dev-cmd@0b201ec74fa43914dc39ae48a89fd1d8cb592756 # v1.13.0
    - name: 'Install: Clang 19'
      if: ${{ matrix.cxx == 'clang++-19' }}
      run: sudo apt update && sudo apt install -y clang-19 clang-tools-19
    - name: 'Install: Clang 20'
      if: ${{ matrix.cxx == 'clang++-20' }}
      run: sudo apt update && sudo apt install -y clang-20 clang-tools-20
    - name: 'Install: Clang 21'
      if: ${{ matrix.cxx == 'clang++-21' }}
      run: |
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh 21 all
    - name: 'Configure'
      env:
        CXX: '${{ matrix.cxx }}'
        CC: '${{ matrix.cc }}'
      run: cmake -S . -B 'build' -G '${{ matrix.generator }}'
    - name: 'Build'
      run: cmake --build 'build' --config '${{ matrix.config }}' --verbose --parallel 4
    - name: 'Test'
      run: ctest --test-dir 'build' --build-config '${{ matrix.config }}' --timeout 10 --tests-regex 'kalman' --verbose --parallel 4
    - name: 'Install'
      run: cmake --install 'build' --config '${{ matrix.config }}' --prefix 'install' --verbose
    - name: 'Package'
      run: cmake --build 'build' --target 'package' --verbose --parallel 4
