name: "Test: Ubuntu 20.04 Clang Trunk"

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  clang:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2.4.0
    - name: Update
      run: |
        wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
        sudo add-apt-repository -s "deb http://apt.llvm.org/focal/ llvm-toolchain-focal-14 main"
        sudo apt update
    - name: Install
      run: |
        sudo apt install clang-14 lldb-14 lld-14 libc++-14-dev libc++abi-14-dev
        ( cd /tmp ; mkdir eigen ;
          git clone --depth 1 https://gitlab.com/libeigen/eigen.git ;
          ( cd eigen ;
            mkdir build ) ;
          ( cd eigen/build ; 
            cmake .. ; 
            cmake --build . ;
            sudo make install ) )
    - name: Build
      run: clang++-14 sample/*.cpp source/*.cpp test/*.cpp -Iinclude -I/usr/local/include/eigen3 -Wall -Wextra -pedantic -std=c++2b -stdlib=libc++
    - name: Run
      run: ./a.out
