name: "Test Code Style: ClangFormat"

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout
      uses: actions/checkout@v3.0.2
    - name: Update
      run: sudo apt update
    - name: Install
      run: sudo apt install clang-format-12
    - name: Format
      run: find . -iname *.hpp -o -iname *.cpp | xargs clang-format-12 --Werror --dry-run --verbose -style=file
